.dashboard-container {
  min-height: 100vh;
  background: linear-gradient(180deg, #0a001f, #060012);
  padding: 60px 80px;
  color: white;
}

/* HEADER */
.dashboard-header {
  margin-bottom: 50px;
}

.dashboard-header h1 {
  margin-top: 1px;
  font-size: 36px;
}

.dashboard-header span {
  color: #a855f7;
}

.dashboard-header p {
  margin-top: 10px;
  color: #bbb;
}

/* GRID */
.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
}

/* CARDS */
.dashboard-card {
  background: rgba(20, 0, 51, 0.7);
  padding: 40px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dashboard-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 25px rgba(168, 85, 247, 0.4);
}

.dashboard-card h3 {
  margin-bottom: 15px;
}

.dashboard-card p {
  color: #ccc;
  margin-bottom: 25px;
}

.dashboard-card button {
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: linear-gradient(90deg, #a855f7, #6366f1);
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.dashboard-card button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px #a855f7;
}
