.success-container {
  min-height: 100vh;
  background: linear-gradient(180deg, #0a001f, #060012);
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding: 40px;
  
}

.success-card {
  background: rgba(20, 0, 51, 0.8);
  padding: 40px;
  border-radius: 20px;
  width: 500px;
  box-shadow: 0 0 25px rgba(168, 85, 247, 0.4);
  color: white;
}

.success-card h1 {
  margin-bottom: 20px;
}

.warning {
  background: rgba(255, 165, 0, 0.1);
  padding: 12px;
  border-radius: 10px;
  color: #ffcc66;
  margin-bottom: 25px;
}

.detail-box {
  margin-bottom: 20px;
}

.detail-box label {
  display: block;
  margin-bottom: 8px;
  color: #bbb;
}

.detail-box input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background: #0f0028;
  color: white;
}

.success-card button {
  margin-top: 10px;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: linear-gradient(90deg, #a855f7, #6366f1);
  color: white;
  cursor: pointer;
}
