.info-container {
  min-height: 100vh;
  background: linear-gradient(180deg, #0a001f, #060012);
  padding: 60px 80px;
  color: rgb(255, 255, 255);
}

.info-container h1 {
  margin-bottom: 40px;
}

.info-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.info-card {
  background: rgba(20, 0, 51, 0.7);
  padding: 30px;
  border-radius: 16px;
  transition: 0.3s;
}

.info-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgba(168, 85, 247, 0.4);
}

.contact-card {
  background: rgba(20, 0, 51, 0.7);
  padding: 40px;
  border-radius: 20px;
  max-width: 500px;
}

.contact-item {
  margin-top: 20px;
  color: #ffffff;
}
